/**************************************
              SMALL TABLETS
**************************************/

/* small tablets to 768 pixels */
@media only screen and (min-width: 600px) {
  .healthContainer {
    height: 6.5vh;
    width: 31vw;
    margin-top: 4rem;
  }
}

/**************************************
              BIG TABLETS
**************************************/

/* big tablets to 1024 pixels */
@media only screen and (min-width: 801px) {
  /* .healthContainer {
    width: 35vw;
    height: 3.5vh;
    margin-top: 11vh;
  }
  .ash {
    height: 27rem;
  }
  .dialogue {
    margin-top: -2vh;
    font-size: 2.8rem;
  } */
  /* #modalShadow {
    background-color: #83d183;
  }
  #modalBody {
    background-image: url("../images/misc-images/pika-intro-four.gif");
  }
  #modalContent {
    font-size: 2rem;
    width: 70%;
    left: 50%;
    top: 35vh;
    text-align: center;
  } */
  /* body {
    height: 0px;
  } */
  .topContainer {
    margin-top: 2%;
  }
  .opponentHealthContainer {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .opponentHp {
    font-size: 1.5rem;
  }
  progress {
    height: 1em;
  }
  .hp {
    font-size: 1.5rem;
  }
  .statsContainer {
    font-size: 1.8rem;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 1.8rem;
  }
  .ash {
    height: 11rem;
  }
  .dialogue {
    font-size: 1.4rem;
    margin: 0px;
    margin-top: -8rem;
    margin-left: 56vw;
  }
  #modalBody {
    width: 50vw;
  }
  #modalContent {
    left: 42vw;
    top: 31vh;
    font-size: 2rem;
  }
}

/*big tablets and phones*/
@media only screen and (max-width: 1024px) and (min-height: 768px) {
  .topContainer {
    margin-top: 1%;
  }
  .opponentHealthContainer {
    width: 30vw;
    margin-top: 2vh;
  }
  .healthContainer {
    width: 34vw;
    height: 3.3vh;
    margin-top: 6rem;
    margin-left: -3vw
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 2.8rem;
  }
  .ash {
    height: 14rem;
  }
  .dialogue {
    font-size: 1.8rem;
    margin: 16%;
    padding: 2%;
    margin-top: -10rem;
    width: 33vw;
    margin-left: 59vw;
  }
  #modalBody {
    width: 50vw;
  }
  #modalContent {
    left: 17rem;
    top: 36rem;
  }
}
 /*big tablets and landscape */
@media only screen and (max-width: 1024px) and (min-height: 768px) and (orientation: landscape) {
  .healthContainer {
    width: 34vw;
    height: 4.3vh;
    margin-top: 6rem;
    margin-left: -3vw
  }
  .dialogue {
    font-size: 1.8rem;
    margin: 16%;
    padding: 2%;
    margin-top: -11rem;
    margin-left: 58vw;
  }
  #modalBody {
    width: 60vw;
  }
  #modalContent {
    left: 31rem;
    top: 30vh;
  }
}

/**************************************
        DESKTOP/LAPTOP TABLETS
**************************************/

/* laptops/desktop */
@media only screen and (min-width: 1025px) {
  /* body {
    height: 0px;
  } */
  .topContainer {
    margin-top: 3%;
    margin-left: 8vw;
  }
  .gameContainer {
    height: 50vh;
  }
  .opponentHp {
    font-size: 2rem;
  }
  .opponentHealthBar {
    width: 19vw;
    margin-top: 1.2%;
  }
  .opponentHealthContainer {
    width: 20vw;
    margin-top: 0px;
  }
  .statsContainer {
    font-size: 1.8rem;
    margin-top: -2%;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 3.2rem;
  }
  main {
    width: 57vw;
  }
  .ash {
    height: 24rem;
  }
  .healthContainer {
    width: 23vw;
    margin-top: 18vh;
    margin-left: -3vw;
  }
  .hp {
    font-size: 2rem;
  }
  .dialogue {
    font-size: 2.2rem;
    margin-top: -30vh;
    margin-left: 54vw;
    width: 35vw;
  }
}

@media only screen and (min-width: 1400px) {
}

/**************************************
        MOBILE LANDSCAPE
**************************************/

@media only screen and (max-width: 812) and (max-height: 414px) and (orientation: landscape) {
  #modalShadow {
    background-color: #83d183;
  }
  #modalBody {
    background-image: url("../images/misc-images/pika-intro-four.gif");
  }
  #modalContent {
    font-size: 2rem;
    width: 70%;
    left: 50%;
    top: 35vh;
    text-align: center;
  }
  .opponentHealthContainer {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .opponentHp {
    font-size: 1.5rem;
  }
  progress {
    height: 1em;
  }
  .hp {
    font-size: 1.5rem;
  }
  .statsContainer {
    font-size: 1.8rem;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 1.8rem;
  }
  .dialogue {
    font-size: 1.8rem;
    margin: 0px;
    margin-top: -33vh;
    width: 0px;
    margin-left: 59vw;
  }
}
/* @media only screen
and (max-height: 414px)
and (max-width: 823px)
and (orientation: landscape) {
  .opponentHealthContainer {
    margin-bottom: 0px;;
  }
  .statsContainer {
    font-size: 1.3rem;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 3.2rem;
  }
} */
