/**************************************
              SMALL TABLETS
**************************************/

/* small tablets to 768 pixels */
@media only screen and (min-width: 320px) {
  /* .opponentHEalthContainer {
    margin-top: -2vh;
  } */
}

/**************************************
              BIG TABLETS
**************************************/

/* big tablets to 1024 pixels */
@media only screen and (min-width: 768px) {
  .healthContainer {
    width: 35vw;
    height: 2.5vh;
    margin-top: 11vh;
  }
  .ash {
    height: 27rem;
  }
  .dialogue {
    margin-top: -2vh;
    font-size: 2.8rem;
  }
}

/*big tablets to 1024 pixels landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape){
  .topContainer {
    margin-top: 1%;
  }
  .opponentHealthContainer {
    width: 30vw;
    margin-top: 2vh;
  }
  .healthContainer {
    width: 32vw;
    height: 6.3vh;
    margin-top: 12vh;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 2.8rem;
  }
  .ash {
    height: 14rem;
  }
  .dialogue {
    font-size: 1.8rem;
    margin: 16%;
    padding: 2%;
    margin-top: -23vh;
    width: 33vw;
    margin-left: 59vw;
  }
}

/**************************************
        DESKTOP/LAPTOP TABLETS
**************************************/

/* laptops/desktop */
@media only screen and (min-width: 1025px) {
   .topContainer {
    margin-top: 3%;
    margin-left: 8vw;
  }
  .gameContainer {
    height: 50vh;
  }
  .opponentHp {
    font-size: 2rem;
  }
  .opponentHealthBar {
    width: 19vw;
    margin-top: 1.2%;
  }
  .opponentHealthContainer {
    width: 20vw;
    margin-top: 0px;
  }
  .statsContainer {
    font-size: 1.8rem;
    margin-top: -2%;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 3.2rem;
  }
  main {
    width: 57vw;
  }
  .ash {
    height: 24rem;
  }
  .healthContainer {
    width: 19vw;
    margin-top: 18vh;
    margin-left: 0px;
  }
  .hp {
    font-size: 2rem;
  }
  .dialogue {
    font-size: 2.2rem;
    margin: 0px;
    margin-top: -26vh;
    margin-left: 52vw;
    width: 38vw;
  }
}

@media only screen and (min-width: 1400px) {
}

/**************************************
        MOBILE LANDSCAPE
**************************************/

@media only screen and (max-width: 823px) and (max-height: 414px) {
  #modalShadow {
    background-color: #83d183;
  }
  #modalBody {
    background-image: url("../images/misc-images/pika-intro-four.gif");
  }
  #modalContent {
    font-size: 2rem;
    width: 70%;
    left: 50%;
    top: 35vh;
    text-align: center;
  }
}
@media only screen
and (max-width: 823px)
and (max-height: 414px)
and (orientation: landscape) {
  .opponentHealthContainer {
    margin-bottom: 0px;;
  }
  .statsContainer {
    font-size: 1.3rem;
  }
  .gamesPlayed,
  .playedNum,
  .gamesAccuracy,
  .accuracyNum {
    line-height: 3.2rem;
  }
}
