
/**************************************
            MOBILE PORTRAIT
**************************************/
/* @media only screen and (max-width: 1024px) and (min-height: 768px) { */
@media only screen and (min-width: 320px) and (orientation: portrait) {

.opponentHealthContainer {
    width: 33vw;
}
.opponentHp {
    font-size: 1.3rem;
}
.statsContainer {
    font-size: 1rem;
}
.gameContainer {
    height: 63%;
    margin-top: 4%;
}
.card {
    height: 19%;
    width: 26%;
}
.bottomContainer {
    margin-top: 7vh;
}
.healthContainer {
    height: 8.3vh;
    width: 40vw;
    margin-top: 5vh;
}
.hp {
    font-size: 1.3rem;
}
.ash {
    height: 15vh;
}
.dialogue {
    font-size: 0.8rem;
    height: 9vh;
}
#modalContent {
    left: 24vw;
    top: 40vh;
}
#modalContent.restartContent {
    left: 57vw;
    top: 75vh;
}
}

/**************************************
        IPHONE X MOBILE PORTRAIT
**************************************/
/* @media only screen and (max-width: 1024px) and (min-height: 768px) { */
@media only screen and (width: 375px) and (height: 812px) and (orientation: portrait) {

.opponentHealthContainer {
    width: 33vw;
}
.opponentHp {
    font-size: 1.3rem;
}
.statsContainer {
    font-size: 1rem;
}
.gameContainer {
    height: 70%;
    margin-top: 4%;
}
.card {
    height: 14%;
    width: 26%;
}
.healthContainer {
    height: 7.5vh;
    width: 40vw;
    margin-top: 5vh;
}
.hp {
    font-size: 1.3rem;
}
.bottomContainer {
    margin-top: 0px;
}
.ash {
    height: 15vh;
}
.dialogue {
    font-size: 0.8rem;
    height: 9vh;
}
#modalContent {
    left: 24vw;
    top: 36vh;
}
#modalContent.restartContent {
    left: 57vw;
    top: 75vh;
}
}

/**************************************
        IPAD & IPAD PRO PORTRAIT
**************************************/
/* @media only screen and (min-width: 768px) and (min-height: 1024px){ */
@media only screen and (min-width: 768px) and (min-height: 1023px) and (orientation: portrait) {

.healthContainer {
    height: 4.5vh;
}
.gameContainer {
  height: 62%;
  margin-top: 5%;
}
.card {
  height: 16%;
  width: 16%;
}
.healthContainer {
    width: 63vw;
}
.bottomContainer {
    margin-top: 0px;
}
.dialogue {
    height: 5vh;
    font-size: 1.1rem;
    overflow: scroll;
}
#modalContent {
    left: 29vw;
    top: 45vh;
}
#modalContent.restartContent {
    left: 57vw;
    top: 75vh;
}
}

/**************************************
            IPHONE X LANDSCAPE
**************************************/
@media only screen and (width: 812px) and (height: 375px) and (orientation: landscape) {

.healthContainer {
    width: 36vw;
}
.card {
  height: 57%;
}
}

/**************************************
            IPAD LANDSCAPE
**************************************/
@media only screen and (width: 1024px) and (height: 768px) and (orientation: landscape) {

.healthContainer {
    width: 48vw;
    height: 6vh;
    margin-top: 4.5rem
}
.gameContainer {
  margin-top: 5%;
}
.card {
  height: 36%;
}
.ash {
    height: 26vh;
}
.dialogue {
    font-size: 1.3rem;
}
}

/**************************************
        IPAD PRO LANDSCAPE
**************************************/
/* @media only screen and (max-width: 1025px) and (min-height: 1024px){ */
@media only screen and (min-width: 1366px) and (orientation: landscape) {

.healthBar {
    margin-top: 5.5%;
}
.healthContainer {
    width: 40vw;
    margin-top: 7rem;
    height: 6vh;
}
.gameContainer {
    margin-top: 5%;
}
.card {
    height: 36%;
    width: 11%;
}
progress {
    width: 23em;
}
.ash {
    height: 18rem;
}
.dialogue {
    margin-top: 6%;
    font-size: 1.7rem;
    height: 7vh;
}
}

/**************************************
            DESKTOP VERSION
**************************************/
/* @media only screen and (min-width: 1400px) { */
@media only screen and (min-width: 1367px) {

.opponentHp {
    font-size: 2.5rem;
}
.opponentHealthBar {
    margin-top: 2.5%;
}
.healthContainer {
    margin-top: 11rem;
    height: 3rem;
    width: 54rem;
}
.hp {
    font-size: 2.5rem;
}
.healthBar {
    margin-top: 1.5%;
}
progress {
    width: 25em;
}
.gameContainer {
    margin-top: 2%;
}
.gamesPlayed,
.playedNum,
.gamesAccuracy,
.accuracyNum {
    line-height: 2.8rem;
}
.dialogue {
    margin-top: 5%;
    font-size: 2.5rem;
    height: 6rem;
}
.card {
    height: 57%;
    width: 11%;
}
.ash {
    margin-top: 9vh;
    height: 16rem;
}
}
