/**************************************
            HTML / BODY
**************************************/

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
body::after {
    position: absolute;
    content: "";
    background-color: white;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/**************************************
             GAME CONTAINERS
**************************************/

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsContainer {
    text-align: center;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: -1%;
}

.statsTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 28%;
}
.gamesPlayed,
.playedNum,
.gamesAttempt,
.attemptNum,
.gamesAccuracy,
.accuracyNum {
    background: #F7F7F7;
    width: 120%;
    margin: 2%;
    text-align: center;
    line-height: 3.2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}

/**************************************
               MAIN
**************************************/

main {
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.pokemonArena {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 80%;
}
.card {
    position: relative;
    background-size: cover;
    height: 6rem;
    width: 6rem;
    padding: 3%;
}
.pokeball {
    position: absolute;
    box-sizing: border-box;
    background-image: url("../images/misc-images/pokeball.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 113%;
    width: 113%;
    transition: transform .2s;
}
.pokeball:hover {
    transform: scale(1.5);
    z-index: 1;
    cursor: pointer;
}

/**************************************
          BOTTOM CONTAINER
**************************************/

.healthContainer {
    display: flex;
    margin-left: 5%;
}
.hp {
    font-size: 1.5rem;
    font-weight: bold;
}
.healthBar {
    margin-left: 0.5%;
    margin-top: 0.5%;
}
progress {
    background-color: rgb(45, 197, 45);
    border: 1px solid black;
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: rgb(45, 197, 45);
    border: 1px solid black;
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.contentBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ash {
    height: 20rem;
}
.dialogue {
    background-color: #F7F7F7;
    font-size: 40px;
    font-size: 2rem;
    width: 32%;
    text-align: center;
    border-radius: 10px;
    border: 5px solid black;
    border-style: double;
    margin: 4%;
    margin-top: 4%;
    margin-right: 25%;
    padding: 2%;
}

/**************************************
               MODAL
**************************************/

.hidden {
    display: none;
}
.avoidClicks {
    pointer-events: none;
}
#modalShadow {
    background-color: rgba(0,0,0,.4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
}
#modalBody {
    position: fixed;
    background-image: url('../images/misc-images/pika-winner.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.87);
    height: 50vh;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 7px solid black;
    border-style: double;
}
#modalContent {
    position: absolute;
    left: 75%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}
#modalNext {
    color: red;
    font-size: 1.5rem;
    margin-top: 20%;
    text-align: end;
    cursor: pointer;
}
.startButton {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: red;
    height: 2vh;
    width: 5vw;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 10px;
    cursor: pointer;
}
.playAgainButton {
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}

/**************************************
             POKEMON
**************************************/

.abra {
    background-image: url("../images/pokemon-images/abra.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.alakazam {
    background-image: url("../images/pokemon-images/alakazam.png");
    background-size: contain;
    height: 160%;
    width: 160%;
}
.caterpie {
    background-image: url("../images/pokemon-images/caterpie.png");
    background-size: contain;
    height: 120%;
    width: 120%;
    margin-top: 21%;
}
.clefable {
    background-image: url("../images/pokemon-images/clefable.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.clefairy {
    background-image: url("../images/pokemon-images/clefairy.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.cloyster {
    background-image: url("../images/pokemon-images/cloyster.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.cubone {
    background-image: url("../images/pokemon-images/cubone.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 23%;
}
.dewgong {
    background-image: url("../images/pokemon-images/dewgong.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.exeggcutor {
    background-image: url("../images/pokemon-images/exeggutor.png");
    background-size: contain;
    height: 160%;
    width: 160%;
}
.farfetch {
    background-image: url("../images/pokemon-images/farfetch.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.gastly {
    background-image: url("../images/pokemon-images/gastly.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.gengar {
    background-image: url("../images/pokemon-images/gengar.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.golduck {
    background-image: url("../images/pokemon-images/golduck.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.gyarados {
    background-image: url("../images/pokemon-images/gyarados.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.horsea {
    background-image: url("../images/pokemon-images/horsea.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 18%;
}
.jigglypuff {
    background-image: url("../images/pokemon-images/jigglypuff.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.Lickitung {
    background-image: url("../images/pokemon-images/lickitung.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.marowak {
    background-image: url("../images/pokemon-images/marowak.png");
    background-size: contain;
    height: 140%;
    width: 140%;
    margin-top: 10%;
}
.meowth {
    background-image: url("../images/pokemon-images/meowth.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.kabuto {
    background-image: url("../images/pokemon-images/kabuto.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.kabutops {
    background-image: url("../images/pokemon-images/kabutops.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.kingler {
    background-image: url("../images/pokemon-images/kingler.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.krabby {
    background-image: url("../images/pokemon-images/krabby.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.magikarp {
    background-image: url("../images/pokemon-images/magikarp.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.nidorina {
    background-image: url("../images/pokemon-images/nidorina.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.nidoqueen {
    background-image: url("../images/pokemon-images/nidoqueen.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.oddish {
    background-image: url("../images/pokemon-images/oddish.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.omanyte {
    background-image: url("../images/pokemon-images/omanyte.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.omastar {
    background-image: url("../images/pokemon-images/omastar.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.persian {
    background-image: url("../images/pokemon-images/persian.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.psyduck {
    background-image: url("../images/pokemon-images/psyduck.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.poliwag{
    background-image: url("../images/pokemon-images/poliwag.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.poliwhirl {
    background-image: url("../images/pokemon-images/poliwhirl.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.scyther {
    background-image: url("../images/pokemon-images/scyther.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.seadra {
    background-image: url("../images/pokemon-images/seadra.png");
    background-size: contain;
    height: 150%;
    width: 150%;
    margin-top: 14%;
}
.seel {
    background-image: url("../images/pokemon-images/seel.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.shellder {
    background-image: url("../images/pokemon-images/shellder.png");
    background-size: contain;
    height: 110%;
    width: 110%;
    margin-top: 25%;
    margin-left: 17%;
}
.slowbro {
    background-image: url("../images/pokemon-images/slowbro.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.slowpoke {
    background-image: url("../images/pokemon-images/slowpoke.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.snorlax {
    background-image: url("../images/pokemon-images/snorlax.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.starmie {
    background-image: url("../images/pokemon-images/starmie.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.staryu {
    background-image: url("../images/pokemon-images/staryu.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.tangela {
    background-image: url("../images/pokemon-images/tangela.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.tentacool{
    background-image: url("../images/pokemon-images/tentacool.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.tentacruel {
    background-image: url("../images/pokemon-images/tentacruel.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.e {
    background-image: url("../images/unown-images/e.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.k {
    background-image: url("../images/unown-images/k.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.m {
    background-image: url("../images/unown-images/m.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.n {
    background-image: url("../images/unown-images/n.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.o {
    background-image: url("../images/unown-images/o.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.p {
    background-image: url("../images/unown-images/p.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.exclam {
    background-image: url("../images/unown-images/exclam.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.dash {
    background-image: url("../images/unown-images/dash.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
