/**************************************
            HTML / BODY
**************************************/

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* overflow: hidden; */
}
body::after {
    position: absolute;
    content: "";
    background-color: white;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mainContainer {
    background-size: cover;
    background-repeat: no-repeat;
}

/**************************************
          TOP CONTAINERS
**************************************/

.topContainer {
    display: flex;
    margin-top: 5%;
}
.opponentHealthContainer {
    display: flex;
    width: 35vw;
    padding: 1%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 3.6vw;
    border-bottom: 6px solid black;
    border-left: 6px solid black;
}
.opponentHp {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 3%;
}
.opponentHealthBar {
    margin-left: 0.5%;
    margin-top: 3.5%;
}
progress {
    height: 1.5em;
    width: 15em;
    background-color: rgb(45, 197, 45);
    border: 1px solid black;
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: rgb(45, 197, 45);
    border: 1px solid black;
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.statsContainer {
    display: flex;
    text-align: center;
    /* justify-content: center;
    flex-direction: row; */
    font-size: 2.8rem;
    width: 50vw;
}
.playedContainer {
    display: inline-block;
    width: 25vw;
}
.accuracyContainer {
    display: inline-block;
    width: 25vw;
}
.gamesPlayed,
.playedNum,
.gamesAccuracy,
.accuracyNum {
    background: #F7F7F7;
    /* margin: 2%; */
    line-height: 6.2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}

/**************************************
            MAIN GAME CONTAINER
**************************************/

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* justify-content: space-around;*/
    width: 92vw;
}
.pokemonArena {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; */
    width: 100%;
}
.card {
    position: relative;
    background-size: cover;
    height: 6rem;
    width: 6rem;
    padding: 3%;
}
.pokeball {
    position: absolute;
    box-sizing: border-box;
    background-image: url("../images/misc-images/pokeball.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 113%;
    width: 113%;
    transition: transform .2s;
}
.pokeball:hover {
    transform: scale(1.5);
    z-index: 1;
    cursor: pointer;
}

/**************************************
          BOTTOM CONTAINER
**************************************/

.bottomContainer {
    display: flex;
    margin: 1vh;
}
.healthContainer {
    height: 3.5vh;
    width: 35vw;
    padding: 1%;
    /* margin: 9vh; */
    margin-top: 9vh;
    border-bottom: 6px solid black;
    border-left: 6px solid black;
    /* margin-left: 5%; */
}
.hp {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 3%;
}
.healthBar {
    margin-left: 0.5%;
    margin-top: 0.5%;
}
progress {
    height: 1.5em;
    width: 15em;
    background-color: rgb(45, 197, 45);
    border: 1px solid black;
    border-radius: 10px;
}
progress::-webkit-progress-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: rgb(45, 197, 45);
    border: 1px solid black;
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.contentBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ash {
    height: 27rem;
}
.dialogue {
    background-color: #F7F7F7;
    font-size: 4rem;
    text-align: center;
    border-radius: 10px;
    border: 5px solid black;
    border-style: double;
    margin: 4%;
    padding: 3%;
}

/**************************************
               MODAL
**************************************/

.hidden {
    display: none;
}
.avoidClicks {
    pointer-events: none;
}
#modalShadow {
    background-color: rgba(0,0,0,.4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#modalBody {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.87);
    height: 50vh;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 7px solid black;
    border-style: double;
}
#modalContent {
    position: absolute;
    left: 28vw;
    top: 36vh;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}
#modalNext {
    color: red;
    font-size: 1.5rem;
    margin-top: 20%;
    text-align: end;
    cursor: pointer;
}
.exitButton {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: red;
    height: 4vh;
    width: 5vw;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 10px;
    cursor: pointer;
}
.landscapeNC {
    text-align: center;
    font-size: 3rem;
    margin-top: 30vh;
}
.playAgainButton {
    color: white;
    font-weight: bold;
    background-color: red;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.restartGame {
    float: right;
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 10px;
    height: 2rem;
    margin-top: 11vh;
    margin-right: 15vw;
    cursor: pointer;
}
.endDialogue {
    text-align: center;
    height: 18rem;
    margin-top: 2%;
    font-size: 5rem;
}
/**************************************
             POKEMON
**************************************/

.abra {
    background-image: url("../images/pokemon-images/abra.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.alakazam {
    background-image: url("../images/pokemon-images/alakazam.png");
    background-size: contain;
    height: 160%;
    width: 160%;
}
.caterpie {
    background-image: url("../images/pokemon-images/caterpie.png");
    background-size: contain;
    height: 95%;
    width: 95%;
    margin-left: 27%;
}
.clefable {
    background-image: url("../images/pokemon-images/clefable.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.clefairy {
    background-image: url("../images/pokemon-images/clefairy.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 36%;
    margin-left: 25%;
}
.cloyster {
    background-image: url("../images/pokemon-images/cloyster.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.cubone {
    background-image: url("../images/pokemon-images/cubone.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 23%;
}
.dewgong {
    background-image: url("../images/pokemon-images/dewgong.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.exeggcutor {
    background-image: url("../images/pokemon-images/exeggutor.png");
    background-size: contain;
    height: 120%;
    width: 120%;
    margin-top: 25%;
}
.farfetch {
    background-image: url("../images/pokemon-images/farfetch.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 35%;
}
.gastly {
    background-image: url("../images/pokemon-images/gastly.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.gengar {
    background-image: url("../images/pokemon-images/gengar.png");
    background-size: contain;
    height: 140%;
    width: 140%;
    margin-top: 25%;
}
.golduck {
    background-image: url("../images/pokemon-images/golduck.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.gyarados {
    background-image: url("../images/pokemon-images/gyarados.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.horsea {
    background-image: url("../images/pokemon-images/horsea.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 18%;
}
.jigglypuff {
    background-image: url("../images/pokemon-images/Jigglypuff.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 25%;
}
.Lickitung {
    background-image: url("../images/pokemon-images/lickitung.png");
    background-size: contain;
    height: 120%;
    width: 120%;
    margin-top: 25%;
}
.marowak {
    background-image: url("../images/pokemon-images/marowak.png");
    background-size: contain;
    height: 140%;
    width: 140%;
    margin-top: 10%;
}
.meowth {
    background-image: url("../images/pokemon-images/meowth.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.kabuto {
    background-image: url("../images/pokemon-images/kabuto.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.kabutops {
    background-image: url("../images/pokemon-images/kabutops.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.kingler {
    background-image: url("../images/pokemon-images/kingler.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.krabby {
    background-image: url("../images/pokemon-images/krabby.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.magikarp {
    background-image: url("../images/pokemon-images/magikarp.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.nidorina {
    background-image: url("../images/pokemon-images/nidorina.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.nidoqueen {
    background-image: url("../images/pokemon-images/nidoqueen.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.oddish {
    background-image: url("../images/pokemon-images/oddish.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 22%;
    margin-left: 10%;
}
.omanyte {
    background-image: url("../images/pokemon-images/omanyte.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.omastar {
    background-image: url("../images/pokemon-images/omastar.png");
    background-size: contain;
    height: 150%;
    width: 150%;
}
.persian {
    background-image: url("../images/pokemon-images/persian.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.psyduck {
    background-image: url("../images/pokemon-images/psyduck.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.poliwag{
    background-image: url("../images/pokemon-images/poliwag.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.poliwhirl {
    background-image: url("../images/pokemon-images/poliwhirl.png");
    background-size: contain;
    height: 120%;
    width: 120%;
    margin-top: 21%;
}
.scyther {
    background-image: url("../images/pokemon-images/scyther.png");
    background-size: contain;
    height: 140%;
    width: 140%;
    margin-top: 25%;
}
.seadra {
    background-image: url("../images/pokemon-images/seadra.png");
    background-size: contain;
    height: 150%;
    width: 150%;
    margin-top: 14%;
}
.seel {
    background-image: url("../images/pokemon-images/seel.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.shellder {
    background-image: url("../images/pokemon-images/shellder.png");
    background-size: contain;
    height: 110%;
    width: 110%;
    margin-top: 25%;
    margin-left: 17%;
}
.slowbro {
    background-image: url("../images/pokemon-images/slowbro.png");
    background-size: contain;
    height: 130%;
    width: 130%;
    margin-top: 25%;
}
.slowpoke {
    background-image: url("../images/pokemon-images/slowpoke.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.snorlax {
    background-image: url("../images/pokemon-images/snorlax.png");
    background-size: contain;
    height: 120%;
    width: 120%;
    margin-top: 27%;
}
.starmie {
    background-image: url("../images/pokemon-images/starmie.png");
    background-size: contain;
    height: 140%;
    width: 140%;
}
.staryu {
    background-image: url("../images/pokemon-images/staryu.png");
    background-size: contain;
    height: 130%;
    width: 130%;
}
.tangela {
    background-image: url("../images/pokemon-images/tangela.png");
    background-size: contain;
    height: 120%;
    width: 120%;
    margin-top: 25%;
}
.tentacool{
    background-image: url("../images/pokemon-images/tentacool.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.tentacruel {
    background-image: url("../images/pokemon-images/tentacruel.png");
    background-size: contain;
    height: 120%;
    width: 120%;
}
.e {
    background-image: url("../images/unown-images/e.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.k {
    background-image: url("../images/unown-images/k.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.m {
    background-image: url("../images/unown-images/m.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.n {
    background-image: url("../images/unown-images/n.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.o {
    background-image: url("../images/unown-images/o.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.p {
    background-image: url("../images/unown-images/p.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.exclam {
    background-image: url("../images/unown-images/exclam.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
.dash {
    background-image: url("../images/unown-images/dash.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
    margin-top: 32%;
    margin-left: 35%;
}
